{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Products app</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/notetake.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    
    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>            
       
    {% block javascript %}
    {% endblock %}
</body>
</html>